extends ../layout

block content
  .row
    .col-xs-12
      .well
        h4 Search For A Movie:
        form(action="/movies/search")
          input(type="text" name="query" id="quicksearch" class="form-control" placeholder="...what movie are you looking for?")
          button(type="submit" role="button" class="btn btn-default") Search
  .row
    .col-xs-12
      ul.list-group
        each movie in mdb.results
            li.list-group-item.list-group-item-movie
              if movie.backdrop_path
                - var src = `https://image.tmdb.org/t/p/w1280${movie.backdrop_path}`
                img.bgimage(src=src)
              .movie-overlay
              h3 #{movie.title}
              h4 Synopsis
              p #{movie.overview}
              h4 Release Date
              p #{movie.release_date}
              h4 Average Ratings
              p #{movie.vote_average}
  .row
    .col-xs-12
      .row  
        .col-xs-6.col-sm-2
          a(href=previousUrl)
            p.strong << previous
        .col-xs-6.col-sm-2.text-right.pull-right
          a(href=nextUrl)
            p.strong next >>
        .col-xs-12.col-sm-8
          ul.list-inline.text-center
            each number in pagesArray
              - var href = "/movies/?page=" + number;
              li(active= number===page ? 'active' : null)
                a(href=href) #{number}     
